*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

img {
  width: 100%;
}

body {
  background-color: hsl(233, 47%, 7%);
  font-family: "Inter", sans-serif;
  color: white;
  font-size: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.container {
  max-width: 327px;
  background-color: hsl(244, 38%, 16%);
  border-radius: 12px;
  overflow: hidden;
}
.card__img-box {
  margin-bottom: 2rem;
  position: relative;
  background-color: hsla(277, 64%, 61%, 0.9);
}
/* this can be done with positioning but i have changed my mind and now i have used color in the *card__img-box as a background-color and used mix-mode within the image(*card__img) which allow you to overlay easily  */


/* .card__img-box::after {
    content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: hsla(277, 64%, 61%, 0.6);
} */


.card__img{
  height: 100%;
  width: 100%;
  display: block;
  mix-blend-mode: multiply;
}

.card__info{
    text-align: center;
    max-width: 264px;
    margin: 0   auto;

   
}
.card__title{
    margin-bottom: 1rem;
}
.card__text-purple{
    color: hsla(277, 64%, 61%);
}

.card__text{
margin-bottom: 3rem;
}
.card__stat-number{
    margin-bottom: .4rem;
}
.card__stat-text{
    margin-bottom: 1rem;
    text-transform: uppercase;
    font-size: 0.8rem;
}

@media screen and (min-width:768px) {
    .container{
        display: flex;
        max-width: 1020px;
        margin: 0 auto;
       
        
    }
    .card__img-box{
        height: 100%;
        order:2;
        width: 50%;
        margin-bottom: 0;
      
        
    }
    .card__info{
        max-width: 290px;
        padding: 1rem;
        text-align: left;
        padding-top: 2.5rem;
    }
   .card__stats{
    display: flex;
    justify-content:space-between;
  

   }
   .card__text{
    max-width: 235px;
    font-size:0.8rem;
   
   }
   
   .card__stat-number{
    text-align: left;
    text-transform: uppercase;

   }
   .card__stat-text{
    
    font-size: 0.7rem;
    margin-right: 0.5rem;
   }
    
}